<%-include('partials/encabezado.html');%>
<h1> Listado de alumnos </h1>
<main>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <br><br>

  <form id="form">
    <button id="btnBuscar" name="btnBuscar">Buscar</button>
    <input type="number" id="matricula" name="matricula" placeholder="Matricula" required="true">
    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required="true">
    <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required="true">
    <input type="text" id="sexo" name="sexo" placeholder="Sexo" required="true">
    <input type="text" id="especialidad" name="especialidad" placeholder="Especialidad" required="true">
    
    <div style="float: right; margin-right: 5.5rem; margin-top: 1rem;">
      <button id="btnAgregar" name="btnAgregar">Agregar</button>
      <button id="btnBorrar" name="btnBorrar">Borrar</button>
      <button id="btnModificar" name="btnModificar">Modificar</button>
    </div> 
  </form>

  <div class="container">

    <table class="table table-hover">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Matricula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Sexo</th>
        <th scope="col">Especialidad</th>
      </tr>
      <% for (var i = 0; i < hola.length; i++) { %>
        <tr>
          <td><%= hola[i].id %></td>
          <td><%= hola[i].matricula %></td>
          <td><%= hola[i].nombre %></td>
          <td><%= hola[i].domicilio %></td>
          <td><%= hola[i].sexo %></td>
          <td><%= hola[i].especialidad %></td>
        </tr>
      <% } %>
    </table>
</div>

</main>
<script src="/js/admin-alumnos.js"></script>
<%-include('partials/piePagina.html');%>