<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center>
            <h2>Cotización</h2>
            <img src="./img/cotizacion.jpg" alt="" width="300px">
        </center>

        <form action="/cotizacion" method="p">
            <label class="form-label" for="">Valor del automovil:</label>
            <input class="form-control" type="number" id="valor" name="valor" required="true">
            <label class="form-label" for="">Porcentaje de pago inicial</label>
            <select class="form-select" aria-label="Default select example" name="pinicial" id="pinicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select><br>

            <label class="form-label" for="">Plazos</label>
            <select class="form-select" aria-label="Default select example" name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
            </select><br>

            <button class="btn btn-primary" type="submit">Calcular</button>
            <button class="btn btn-secondary" type="reset">Limpiar</button>

            <%
                let pagoInicial = 0;
                let totalfin = 0;
                let pmensual = 0;

                if(valor!=null) {
                    pagoInicial = valor * (pinicial/100);
                    totalfin = valor - pagoInicial;
                    pmensual = totalfin/plazo;
            %>

                    <hr>
                    <h3>Información de la cotización</h3>
                    <hr><br>
                    Valor del automovil: <%=valor%><br>
                    Porcentaje de pago inicial: <%=pinicial%><br>
                    Plazos: <%plazo%><br>
                    Pago inicial: <%=pagoInicial%><br>
                    Total a financiar: <%=totalfin%><br>
                    Pago mensual: <%=pmensual%><br>
            <% 
                }
            %>
            <br>
            <br>
            <hr>
        </form>
    </div>
</body>
</html>