<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <header class="p-3 text-bg-dark">
    <center>
        <h1><%=titulo%></h1>
        <img src="./img/upsinlogo.png" alt="">
    </center>
    </header>
    <div class="container">

        <table class="table table-hover">
            <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sexo</th>
                <th scope="col">Materias</th>
            </tr>
            <% 
                for(item of listado) {

            %>
                    <tr>
                        <td><%=item.matricula%></th>
                        <td><%=item.nombre%></th>
                        <td><%=item.sexo%></th>
                        <td><%=item.materias%></th>
                    </tr>
                <%
                    }
                    %>
        </table>
    </div>
    <%-include('partials/piePagina.html');%>
</body>
</html>